header {
    text-align: center;
    background-color: rgb(134, 173, 134);
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.507);

}

section {
    text-align: center;
    background-color: beige;
}

div {
    text-align: center;
}

img {
    padding-top: 20px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}